body {
    font-size: 100%;
    color: #7f8c97;
    background-color: #fff;
    /*background: url("../images/courseBG.png");*/
}
.main-box{
	margin-top: 100px;
	
}
.main{
	


}
.main h6{
	font-size: 14px;
	color: #2d64b3;
	margin-bottom: 10px;
    font-weight: normal;

}
.main p{
	margin-bottom: 5px;
    
    color: #666;
}
.main a{
    margin-bottom: 5px;
}
.cbp_tmtimeline > li .cbp_tmlabel{
	font-size: 12px;
	color: #7f8c97;

}
.cbp_tmtimeline > li .cbp_tmlabel{
	background: #fff;
	color: #666;
	padding: 0;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #efefef;

}
.cbp_tmtimeline > li .cbp_tmlabel:after{
	border-right-color: #fff;
}
.cbp_tmtimeline > li .cbp_tmicon {
    width: 16px;
    height: 16px;
    font-family: 'ecoico';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transfom: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #89c7f8, 0 0 0 6px #fff;
    box-shadow: 0 0 0 2px white, 0 0 0 3px #3594cb;
    background: #3594cb;
    color: white;
    text-align: center;
    left: 20%;
    margin: 0 0 0 -10px;
}
.cbp_tmtimeline > li .cbp_tmtime span:first-child{
	margin-top: -5px;
	font-size: 16px;
    font-weight: normal;
	color: #3594cb;
    color: #2D64B3;
}
.cbp_tmtimeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #afdcf8;

    left: 20%;
    margin-left: -3px;
}
.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 12px;
    color: #3594cb;
    color: #737373;
}
.cbp_tmtimeline > li .cbp_tmtime {
    
    padding-right: 60px;
    
}
.notice-box{
    margin-top: 20px;
}

.notice,.state{
    text-align: left;
    
   
    
}
.panel-heading{
    font-weight: normal;
    font-size: 14px;
    
}
.panel-body{
    font-size: 12px;
}
.panel-body ul{
    list-style: none;
}
.panel-body ul li{
    margin-bottom: 5px;
    /*border-bottom: 1px solid #efefef;*/
}

h3{
	margin-left: 8%;
	/*margin-right: 5%;*/
	font-weight: normal;
	color: #666;
	padding-bottom: 5px;
	/*padding-left: 5px;*/
	border-bottom: 1px solid #efefef;

}
div.info{
    margin-top: 10px;
}
div.tool-box{
    margin-top: 5px;
    margin-bottom: 5px;
}
.tool-box label{
    font-weight: normal;
    color: #666;
    margin-top: 10px;
}