*{
	font-family: "微软雅黑";font-family:;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 3px !important;
    border-width: 1px;
    color: #858585;
    background-color: #fff;
    border-color: #d5d5d5;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: .1s;
    -moz-transition-duration: .1s;
    -o-transition-duration: .1s;
    transition-duration: .1s;
}
.login-layout input[type="text"], .login-layout input[type="password"], .login-layout input[type="datetime"], .login-layout input[type="datetime-local"], .login-layout input[type="date"], .login-layout input[type="month"], .login-layout input[type="time"], .login-layout input[type="week"], .login-layout input[type="number"], .login-layout input[type="email"], .login-layout input[type="url"], .login-layout input[type="search"], .login-layout input[type="tel"], .login-layout input[type="color"] {
    line-height:inherit;
    height:auto;
    max-height:initial;
    margin-bottom:4px;
    padding: 8px;
    border-radius: 3px;
}
.input-icon.input-icon-right > [class*="icon-"] {
    left: auto;
    right: 3px;
    margin-top: 5px;
}